.gitbook-link {
    display: none !important;
}

/* plugin: etoc */
.toc li ul > li:before {
    content: "-";
}

/* plugin: heading-anchors */
.anchorjs-link {
    color: #AAAAAA;
}
.anchorjs-link:hover {
    color: #42b983;
}

/* plugin: back-to-top-button */
.back-to-top {
    background: rgba(66, 185, 131, 0.5);
}
.back-to-top:hover {
    background: rgba(66, 185, 131, 0.9);
}