.gitbook-link {
    display: none !important;
}

/* plugin: etoc */
.toc li ul > li:before {
    content: "-";
}

/* plugin: heading-anchors */
.anchorjs-link {
    color: #AAAAAA;
}
.anchorjs-link:hover {
    color: #FF5231;
}